.left-sidebar {
    position: fixed;
    top: 50px;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    color: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav {
    padding-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    display: block;
    padding: 10px;
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: #555;
  }
  