/* .filter-container {
  position: relative;
}

.filter-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  z-index: 1;
}

.filter-form {
  display: grid;
  grid-gap: 15px;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input[type="number"],
input[type="checkbox"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.price-separator {
  margin: 0 8px;
}

.rating-label,
.category-label,
.language-label {
  margin-bottom: 8px;
}

.rating-options,
.category-options,
.language-options {
  display: flex;
  flex-direction: column;
}

.apply-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #218838;
} */



.filter-container {
  position: relative;
}

.filter-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 20px;
  z-index: 1;
}

.custom-select {
  position: relative;
  width: 100%;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}

.custom-select select:focus {
  border-color: #007bff;
}

.filter-form {
  display: grid;
  grid-gap: 15px;
}

.filter-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.price-range-inputs {
  display: flex;
}

.price-separator {
  margin: 0 8px;
}

.rating-label,
.category-label,
.language-label {
  font-weight: bold;
  margin-bottom: 8px;
}

.rating-options,
.category-options,
.language-options {
  display: flex;
  flex-direction: column;
}

.apply-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.apply-button:hover {
  background-color: #218838;
}
