.filter-container {
    position: relative;
  }
  
  .filter-button {
    background-color: #637d97;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filter-dropdown {
    position: absolute;
    top: 100%; /* Position just below the FilterButton */
    left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    z-index: 1;
  }
  
  .filter-section {
  
      margin: 20px;
  }
  

  